<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand"
      routerLink="/"
      routerLinkActive="active">
      Dating App
    </a>

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container  *ngIf="accountService.currentUser$ | async; else register">
        <li class="nav-item">
          <a class="nav-link" aria-current="page"
          routerLink="/members"
          routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          routerLink="/lists"
          routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          routerLink="/messages"
          routerLinkActive="active">Messages</a>
        </li>
      </ng-container>
      <ng-template #register>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ng-template>

    </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <button dropdownToggle class="btn btn-secondary dropdown-toggle" type="button">
        Welcome, {{user.username | titlecase}}
      </button>
      <ul class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </ul>
    </div>


    <form #loginForm="ngForm" class="d-flex" role="search" (ngSubmit)="login(loginForm)" *ngIf="!(accountService.currentUser$ | async)">
      <input class="form-control me-2" type="text" placeholder="Username" name="username" [(ngModel)]="model.username">
      <input class="form-control me-2" type="password" placeholder="Password" name="password" [(ngModel)]="model.password">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
